<!doctype html>
<html lang="ru">
<head> 
</head>
<body>

 <div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <div class="main-area-archive clearfix">


        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <div class="archive-list clearfix">

          <input type="button" class="back-button" ng-click="goBack()" value="Назад" /> 

         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">                  
          
          <h4>Выберите период покупок:</h4>
          
          <div class="form-group">
               <label for="dateFrom">Дата от:</label>
               <input type="text" class="form-control" id="dateFrom" placeholder="Дата">
              </div>
 
          <div class="form-group">
                <label for="dateTo">до:</label>
                <input type="text" class="form-control" id="dateTo" placeholder="Дата">
          </div>
          <input type="button" ng-click="getData()" value="Получить список" />

         </div>

 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">

    <table>
    <tr >
    <th>Дата</th>
    <th>№ списка</th>
    <th>Категория</th>
    <th>Продукт</th>
    </tr>

    <tr ng-repeat="x in products">
    <td>{{ x.name }}</td>
    <td>{{ x.id }}</td>
    <td>{{ x.name }}</td>
    <td>{{ x.id }}</td>
    </tr>
    </table>
 </div>

         </div>
        </div>
       </div>
     </div>
  </div>
  <script>    
  $(function(){
      $('#dateFrom').datepicker({
        inline: true,       
        showOtherMonths: true,        
        dayNamesMin: [ 'Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб' ],        
      });
       $('#dateTo').datepicker({
        inline: true,       
        showOtherMonths: true,        
        dayNamesMin: [ 'Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб' ],        
      });
    });
</script>

</body>
</html>
